.wrapper {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

.home-page {
    display: flex;
}
.avatar-page {
    display: block;
    width: 80%;
    height: auto;
}

.actions {
    display: flex;
    align-items: center;
}
